<div id="section-courses" class="row clearfix common-height">
	<div class="col-md-4 center col-padding hidden-xs" style="background: url('/images/desktop.jpg') center center / cover no-repeat;height:711px">
		<div>&nbsp;</div>
	</div>

	<div class="col-md-8 center col-padding" style="background-color:#f9f9f9;height:711px;">
		<div>
			<h2 class="divcenter bottommargin font-body" style="max-width:700px;font-size:40px;font-family:Pathway Gothic One !important">Upcoming Courses</h2>

			<p class="lead divcenter bottommargin" style="max-width:600px">
				Join our in-person courses to accelerate your learning. Our classes are small (avg size 8 students) and the pace is tailored for the group as a whole.
			</p>

			<div class="row">
				<div class="col-md-5 col-md-offset-1 bottommargin-lg">
					<div class="pricing-box" style="background:#fff">
						<div class="pricing-features">
							<a href="/course/react-redux-deep-dive">
								<img style="border-radius:48px;margin-top:24px;margin-bottom:12px" src="https://media-service.appspot.com/site/images/uphd7w3A?crop=96" />
							</a>
							<a href="/course/react-redux-deep-dive">
								<h3 class="nobottommargin notopmargin" style="color:#333;text-shadow:none;font-weight:400">React Redux Deep Dive</h3>
							</a>

							<span>Jul 11th - Aug 31st</span><br />
							<span>Tues/Thurs, 6pm-9pm</span>

							<p class="nobottommargin" style="padding:24px;margin-top:12px;height:280px">
								The React &amp; Redux course builds a full stack web application with React, Redux, ES6, Babel, Webpack, Node, and more. Learn the most modern stack with cutting edge tools as we build and deploy a fully functional app with standard features: user registration/login, image uploading, email notification, and more.
							</p>

							<a href="/course/react-redux-deep-dive" class="button button-border button-circle t500 noleftmargin notopmargin bottommargin-sm">Learn More</a>
						</div>
					</div>
				</div>

				<div class="col-md-5 bottommargin-lg">
					<div class="pricing-box" style="background:#fff">
						<div class="pricing-features">
							<a href="/course/intro-web-development">
								<img style="border-radius:48px;margin-top:24px;margin-bottom:12px" src="/images/js.png" />
							</a>
							<a href="/course/intro-web-development">
								<h3 class="nobottommargin notopmargin" style="color:#333;text-shadow:none;font-weight:400">Intro Web Development</h3>
							</a>
							<span>Jul 8th - Aug 26th</span><br />
							<span>Sat, 10am-4pm</span>

							<p class="nobottommargin" style="padding:24px;margin-top:12px;height:280px">
								Get started on web development by learning modern web development tools: HTML/CSS, Bootstrap, Javascript and JQuery. Beyond that, the Intro Web Development course addresses areas that elude many beginners such as CSS pre-processors (LESS, SASS), optimization with Gulp, static asset delivery and more.
							</p>

							<a href="/course/intro-web-development" class="button button-border button-circle t500 noleftmargin notopmargin bottommargin-sm">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>