<footer id="footer" class="dark">
	<div class="container">
		<div class="footer-widgets-wrap clearfix">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<div class="widget widget_links clearfix">
						<img src="/images/canvasone-dark.png" alt="" class="footer-logo">
						<ul class="bottommargin-sm">
							<li><a href="#">Courses</a></li>
							<li><a href="/tutorials">Tutorials</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="mailto:katrina@velocity360.io">Contact</a></li>
						</ul>

						<form method="post" class="bottommargin-sm">
							<div class="input-group divcenter">
								<span class="input-group-addon"><i class="icon-email2"></i></span>
								<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email" aria-required="true">
								<span class="input-group-btn">
									<button class="btn btn-success" type="submit">Subscribe</button>
								</span>
							</div>
						</form>
						<div class="widget-subscribe-form-result"></div>
						<h5 style="font-weight:100">Subscribe to Our Newsletter for course announcements, events and tutorials.</h5>
					</div>
				</div>

				<div class="col-md-4">
					<div class="widget clearfix">
						<h4>Recent Activity</h4>
						<div id="post-list-footer"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div id="copyrights">
		<div class="container clearfix">
			<div class="col_half">
				Copyrights &copy; 2017. All Rights Reserved by The Grid Media, LLC
			</div>

			<div class="col_half col_last tright">
				<div class="fright clearfix">
					<a target="_blank" href="https://www.facebook.com/Velocity-360-1631852427085987" class="social-icon si-small si-borderless si-facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>

					<a target="_blank" href="https://twitter.com/Velocity360_io" class="social-icon si-small si-borderless si-twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>

					<a target="_blank" href="https://github.com/velocity-360" class="social-icon si-small si-borderless si-github">
						<i class="icon-github"></i>
						<i class="icon-github"></i>
					</a>
					
					<a target="_blank" href="https://www.instagram.com/hashtagbeauty_us/" class="social-icon si-small si-borderless si-instagram">
						<i class="icon-instagram"></i>
						<i class="icon-instagram"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>