<footer id="footer" class="dark notopborder" style="background:#260354">
	<div id="copyrights">
		<div class="container center clearfix" style="color:#f9f9f9">
			Copyright &copy; 2017. Velocity 360
		</div>
	</div>
</footer>