<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Velocity 360" />
<meta name="description" content="Learn Full Stack React, Redux and Node" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:title" content="{{ tags.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ tags.url }}" />
<meta property="og:image" content="{{ tags.image }}" />
<meta property="og:width" content="260px" />
<meta property="og:height" content="260px" />
<meta property="og:description" content="{{ tags.description }}" />

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700|Pathway+Gothic+One:300,400,500,600,700" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/dist/css/style.min.css" type="text/css" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ tags.title }} | Velocity 360</title>
<script src="https://checkout.stripe.com/checkout.js"></script>
