<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
<script src="https://d2t33r63549y14.cloudfront.net/cdn/dist/turbo.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/dist/js/app.min.js"></script>
