<div id="section-blog" class="page-section notoppadding notopmargin">
	<div class="section nobottommargin notopmargin notoppadding" style="background:#fff">
		<div class="container clearfix">
			<h2 class="divcenter bottommargin font-body" style="text-align:center;max-width:700px;font-size:40px;font-weight:100;font-family:Pathway Gothic One !important">Online Membership</h2>

			<p class="lead divcenter bottommargin" style="max-width:800px;text-align:center">
				Can't make it to our live courses? Join our online membership for video tutorials, code samples and access to our Slack Channel.
			</p>


			<div class="pricing nobottommargin clearfix row">
				<div class="col-md-3" style="padding:12px">
					<div class="pricing-box" style="background:#fff">
						<div class="pricing-title">
							<h3>Basic</h3>
						</div>
						<div class="pricing-price" style="font-size:48px">Free</div>
						<div class="pricing-features" style="height:240px">
							<ul>
								<li>Access to Free Tutorials</li>
								<li>Downloadable Code Samples</li>
								<li>Downloadable Videos</li>
								<li>Q &amp; A Forum Access</li>
							</ul>
						</div>

					</div>
				</div>

				<div class="col-md-3" style="padding:12px">
					<div class="pricing-box" style="background:#fff;">
						<div class="pricing-title">
							<h3>Premium</h3>
						</div>
						<div class="pricing-price" style="font-size:48px">
							<span class="price-unit">$</span>19.99<span class="price-tenure">/mo</span>
						</div>
						<div class="pricing-features" style="height:240px">
							<ul>
								<li>Access to <i>ALL</i> Tutorials</li>
								<li>Downloadable Code Samples</li>
								<li>Downloadable Videos</li>
								<li>Q &amp; A Forum Access</li>
								<li>Discounts on Live Courses</li>
								<li>Cross-Premium Membership to <a style="color:red" target="_blank" href="http://www.turbo360.co">Turbo</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-md-offset-1">
					<form style="padding:16px" class="nobottommargin" name="template-contactform" method="post">
						<div class="form-process"></div>

						<div class="col_full col_last">
							<input onChange="updateVisitor(event)" type="text" name="name" class="sm-form-control border-form-control" placeholder="Full Name" />
						</div>

						<div class="clear"></div>

						<div class="col_full col_last">
							<input onChange="updateVisitor(event)" type="text" name="email" class="sm-form-control border-form-control" placeholder="Email" />
						</div>

						<div class="clear"></div>

						<div class="col_full col_last">
							<input onChange="updateVisitor(event)" type="password" name="password" class="sm-form-control border-form-control" placeholder="Password" />
						</div>

						<div class="clear"></div>

						<div class="col_full col_last">
							<select name="accountType" onChange="updateVisitor(event)" class="sm-form-control border-form-control">
								<option value="basic">Basic</option>
								<option value="premium">Premium</option>
							</select>
						</div>

						<div class="col_full">
							<button onClick="register(event)" class="button button-border button-circle t500 noleftmargin topmargin-sm" type="submit" name="template-contactform-submit" value="submit">Join</button>
							<br>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>