<div id="section-blog" class="page-section notopmargin">
	<div class="section nobottommargin notopmargin notoppadding" style="background:#fff">
		<div class="container clearfix">
			<h2 class="divcenter bottommargin font-body" style="text-align:center;max-width:700px;font-size:40px;font-weight:100;font-family:Pathway Gothic One !important">Online Membership</h2>

			<div class="pricing nobottommargin clearfix row">
				<div class="col-md-3" style="padding:12px">
					<div class="pricing-box" style="background:#fff">
						<div class="pricing-title">
							<h3>Basic</h3>
						</div>
						<div class="pricing-price" style="font-size:48px">Free</div>
						<div class="pricing-features">
							<ul>
								<li>Unlimited Staging Apps</li>
								<li>1 Production App</li>
								<li>Default Add-ons For All Apps</li>
								<li>1,000 Daily Requests per App</li>
								<li>100 Email API Requests per month</li>
								<li>No 'ramp up' time</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-3" style="padding:12px">
					<div class="pricing-box" style="background:#fff">
						<div class="pricing-title">
							<h3>Premium</h3>
						</div>
						<div class="pricing-price" style="font-size:48px">
							<span class="price-unit">$</span>10<span class="price-tenure">/mo</span>
						</div>
						<div class="pricing-features">
							<ul>
								<li>Unlimited Staging Apps</li>
								<li>10 Production Apps</li>
								<li>10 Add-ons For All Apps</li>
								<li>10,000 Daily Requests per App</li>
								<li>10,000 Email API Requests per month</li>
								<li>No 'ramp up' time</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-md-offset-1">
					<form style="padding:16px" class="nobottommargin" name="template-contactform" method="post">
						<div class="form-process"></div>

						<div class="col_full col_last">
							<input onChange="updateVisitor(event)" type="text" name="name" class="sm-form-control border-form-control" placeholder="Full Name" />
						</div>

						<div class="clear"></div>

						<div class="col_full col_last">
							<input onChange="updateVisitor(event)" type="text" name="email" class="sm-form-control border-form-control" placeholder="Email" />
						</div>

						<div class="clear"></div>

						<div class="col_full col_last">
							<input onChange="updateVisitor(event)" type="password" name="password" class="sm-form-control border-form-control" placeholder="Password" />
						</div>

						<div class="clear"></div>

						<div class="col_full col_last">
							<select name="accountType" onChange="updateVisitor(event)" class="sm-form-control border-form-control">
								<option value="basic">Basic</option>
								<option value="premium">Premium</option>
							</select>
						</div>

						<div class="col_full">
							<button onClick="register(event)" class="button button-border button-circle t500 noleftmargin topmargin-sm" type="submit" name="template-contactform-submit" value="submit">Join</button>
							<br>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>