<div id="section-blog" class="page-section notoppadding notopmargin">
	<div class="section nobottommargin notopmargin notoppadding" style="background:#f9f9f9">
		<div class="container clearfix">
			<h2 class="divcenter bottommargin-sm font-body velocity-header">Online Membership</h2>

			<p class="lead divcenter bottommargin" style="max-width:800px;text-align:center">
				Can't make it to our live courses? Join our online membership for video tutorials, code samples and access to our Slack Channel.
			</p>

			<div class="pricing nobottommargin clearfix row">
				<div class="col-md-4 col-md-offset-2" style="padding:12px">
					<div class="pricing-box">
						<div class="pricing-title" style="background:#f1f4f9">
							<h3>Basic</h3>
						</div>
						<div class="pricing-price" style="font-size:48px">Free</div>
						<div class="pricing-features" style="height:240px;border:none">
							<ul>
								<li>Access to Free Tutorials</li>
								<li>Downloadable Code Samples</li>
								<li>Downloadable Videos</li>
								<li>Q &amp; A Forum Access</li>
							</ul>
						</div>
						<a class="button button-blue button-circle t500 noleftmargin notopmargin bottommargin-sm" type="submit" href="/register">Join</a>
					</div>
				</div>

				<div class="col-md-4" style="padding:12px">
					<div class="pricing-box">
						<div class="pricing-title" style="background:#f1f4f9">
							<h3>Premium</h3>
						</div>
						<div class="pricing-price" style="font-size:48px">
							<span class="price-unit">$</span>14.99<span class="price-tenure">/mo</span>
						</div>
						<div class="pricing-features" style="height:240px;border:none">
							<ul>
								<li>Access to <i>ALL</i> Tutorials</li>
								<li>Downloadable Code Samples</li>
								<li>Downloadable Videos</li>
								<li>Q &amp; A Forum Access</li>
								<li>Discounts on Live Courses</li>
								<li>Cross-Premium Membership to <a style="color:red" target="_blank" href="http://www.turbo360.co/landing">Turbo</a></li>
							</ul>
						</div>
						<button onClick="showStripeModal(event, 'subscription')" class="button button-blue button-circle t500 noleftmargin notopmargin bottommargin-sm" type="submit" name="template-contactform-submit" value="submit">Join</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>