<div id="page-menu">
	<div id="page-menu-wrap">
		<div class="container clearfix" style="width:98%">
			<div style="font-family:Pathway Gothic One;font-size:30px;font-weight:100" class="menu-title">
				<a style="color:#fff" href="/">Velocity 360</a>
			</div>

			<nav class="one-page-menu">
				<ul class="hidden-xs">
					<li><a href="/"><div>Home</div></a></li>
					<li><a href="/"><div>About</div></a></li>
					<li><a href="/login"><div>Login</div></a></li>
				</ul>

				<ul class="visible-xs" style="background:#000">
					<li><a href="#" data-href="#header"><div>Test</div></a></li>
				</ul>
			</nav>

			<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
		</div>
	</div>
</div>