<header id="header" class="full-header border-full-header static-sticky sticky-header" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">
	<div id="header-wrap">
		<div class="container clearfix" style="padding-right:0px">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
			<div id="logo">
				<a href="/" class="standard-logo" data-dark-logo="/images/canvasone-dark.png"><img src="/images/canvasone.png" alt="Canvas Logo"></a>
				<a href="/" class="retina-logo" data-dark-logo="/images/canvasone-dark@2x.png"><img src="/images/canvasone@2x.png" alt="Canvas Logo"></a>
			</div>

			<nav id="primary-menu">
				<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
					<li><a href="/"><div>Home</div></a></li>
					<li><a href="/tutorials"><div>Tutorials</div></a></li>
					<li><a href="/#section-courses"><div>Courses</div></a></li>
					<li><a href="/blog"><div>Blog</div></a></li>

					{{#user}}
					<li><a href="/account" style="background:#260354"><div style="color:#fff">Account</div></a></li>
					{{/user}}
					{{^user}}
					<li><a href="/login" style="background:#260354"><div style="color:#fff">Log In</div></a></li>
					{{/user}}
				</ul>
			</nav>
		</div>
	</div>
</header>