<div class="slack-box">
	<img src="/images/slack.png">
	<p>Join our Slack channel to ask questions about tutorials and discuss general programming and industry topics:</p>
	<input onChange="updateVisitor(event)" name="name" type="text" placeholder="Name" /><br />
	<input onChange="updateVisitor(event)" name="email" type="text" placeholder="Email" />
	<a href="#" onClick="requestSyllabus(event)" id="Slack Invitation" class="button button-small button-circle button-border button-aqua">Join</a>
</div>