<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Velocity 360" />

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700|Pathway+Gothic+One:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/dist/css/style.min.css" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Become a Full Stack Developer | Velocity 360</title>
</head>

<body class="stretched" data-loader="11" data-loader-color="#543456" onLoad="fetchRecentPosts()">
	<div id="wrapper" class="clearfix">
		{{>nav}}

		<section id="content">
			<div class="content-wrap nopadding">
				<div id="section-about" class="center page-section" style="padding-top:64px">
					<div class="container clearfix">
						<h2 class="divcenter bottommargin font-body" style="max-width:700px;font-size:40px;font-family:Pathway Gothic One !important;font-weight:200">Blog</h2>
						<img src="/images/rocket.png" />
						<hr />
						<div class="clear"></div>
						<div id="posts" class="row topmargin-sm divcenter" style="max-width:1000px"></div>
					</div>
				</div>

				<div class="row clearfix common-height">
					<div class="col-md-4 center col-padding hidden-xs" style="background: url('/images/desktop.jpg') center center / cover no-repeat;height:711px">
						<div>&nbsp;</div>
					</div>

					<div class="col-md-8 center col-padding" style="background-color:#f9f9f9;height:711px;">
						<div>
							<h2 class="divcenter bottommargin font-body" style="max-width:700px;font-size:40px;font-family:Pathway Gothic One !important">Upcoming Courses</h2>
							<p class="lead divcenter bottommargin" style="max-width:600px">
								Join our in-person courses to accelerate your learning. Our classes are small (avg size 8 students) and the pace is tailored for the group as a whole.
							</p>

							<div class="row">
								<div class="col-md-5 col-md-offset-1 bottommargin-lg">
									<div class="pricing-box" style="background:#fff">
										<div class="pricing-features">
											<img style="border-radius:48px;margin-top:24px;margin-bottom:12px" src="https://media-service.appspot.com/site/images/uphd7w3A?crop=96" />
											<h3 class="nobottommargin notopmargin" style="color:#333;text-shadow:none;font-weight:400">React Redux Intro</h3>
											<span>Jul 11th - Aug 31st</span><br />
											<span>Tues/Thurs, 6pm-9pm</span>

											<p class="nobottommargin" style="padding:24px;margin-top:12px">
												The React &amp; Redux Intro class builds a full stack web application with React, Redux, ES6, Babel, Webpack, Node, and more. Learn the most modern stack with cutting edge tools as we build and deploy a fully functional app with standard features: user registration/login, image uploading, email notification, and more.
											</p>

											<button onClick="register(event)" class="button button-border button-circle t500 noleftmargin notopmargin bottommargin-sm" type="submit" name="template-contactform-submit" value="submit">Learn More</button>
										</div>
									</div>
								</div>

								<div class="col-md-5 bottommargin-lg">
									<div class="pricing-box" style="background:#fff">
										<div class="pricing-features">
											<img style="border-radius:48px;margin-top:24px;margin-bottom:12px" src="/images/js.png" />
											<h3 class="nobottommargin notopmargin" style="color:#333;text-shadow:none;font-weight:400">Intro Web Development</h3>
											<span>Jul 8th - Aug 26th</span><br />
											<span>Sat, 10am-4pm</span>

											<p class="nobottommargin" style="padding:24px;margin-top:12px">
												The Node &amp; React Intro is an 8-week evening (two nights a week) class that covers backend and frontend development using the most up-to-date technologies. Using Node JS, Mongo, Express and React (with ES6), we will create a fully functional website with user registration, image uploading, email notification functionality. 
											</p>

											<button onClick="register(event)" class="button button-border button-circle t500 noleftmargin notopmargin bottommargin-sm" type="submit" name="template-contactform-submit" value="submit">Learn More</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="topmargin-lg"></div>
				{{>join}}

			</div>
		</section>

		{{>footer}}
	</div>

	<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
	<script src="http://cdn.velocity360.io/dist/turbo.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/dist/js/app.min.js"></script>
</body>
</html>
