<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body class="stretched" data-loader="11" data-loader-color="#543456" onLoad="fetchRecentPosts()">
	<div id="wrapper" class="clearfix">
		{{>nav}}

		<section id="content">
			<div class="content-wrap nopadding">
				<div id="section-about" class="center page-section" style="padding-top:64px">
					<div class="container clearfix">
						<h2 class="divcenter bottommargin font-body" style="max-width:700px;font-size:40px;font-family:Pathway Gothic One !important;font-weight:200">Blog</h2>
						<img src="/images/rocket.png" />
						<hr />
						<div class="clear"></div>
						<div id="posts" class="row topmargin-sm divcenter" style="max-width:1000px"></div>
					</div>
				</div>

				{{>courses}}

				<div class="topmargin-lg"></div>
				
				{{>join}}
			</div>
		</section>

		{{>footer}}
	</div>

	{{>imports}}
</body>
</html>
