<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body onLoad="fetchRecentPosts()">
	<header id="header" class="full-header border-full-header static-sticky sticky-header" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">
		<div id="header-wrap">
			<div class="container clearfix" style="padding-right:0px;width:100%">
				<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
				<div id="logo" style="margin-left:15px">
					<a href="/" class="standard-logo" data-dark-logo="/images/canvasone-dark.png"><img src="/images/canvasone.png" alt="Turbo 360"></a>
					<a href="/" class="retina-logo" data-dark-logo="/images/canvasone-dark@2x.png"><img src="/images/canvasone@2x.png" alt="Turbo 360"></a>
				</div>

				<nav id="primary-menu">
					<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
						<li><a href="/"><div>Home</div></a></li>
						<li><a href="/tutorials"><div>Tutorials</div></a></li>
						<li><a href="/blog"><div>Blog</div></a></li>
						{{#user}}
						<li><a href="/account" style="background:#260354"><div style="color:#fff">Account</div></a></li>
						{{/user}}
						{{^user}}
						<li><a href="/login" style="background:#260354"><div style="color:#fff">Log In</div></a></li>
						{{/user}}
					</ul>					
				</nav>
			</div>
		</div>
	</header>

	<div class="stretched side-header">
		<div id="wrapper" class="clearfix">
			<header id="header" class="no-sticky hidden-xs" style="padding-top:96px">
				<div id="header-wrap">
					<div class="container clearfix">
						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
						<nav id="primary-menu">
							<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="0">
								<li><a href="#" data-href="#section-overview"><div>Overview</div></a></li>
								<li><a href="#" data-href="#section-units"><div>Units</div></a></li>
								<li><a href="#" data-href="#section-instructors"><div>Instructors</div></a></li>
								<li><a href="#" data-href="#section-enroll"><div>Enroll</div></a></li>
							</ul>
						</nav>

						{{>slack}}
					</div>
				</div>
			</header>

			<section id="slider" class="full-screen slider-parallax-visible" style="height: 367px;">
				<div class="slider-parallax-inner" style="height: 367px; transform: translateY(0px);">

					<div class="full-screen section nopadding nomargin noborder ohidden" style="background-image: url('/images/hackathon.jpg'); background-size: cover; background-position: center center; height: 367px;">

						<div class="container clearfix">
							<div class="vertical-middle" style="position: absolute; top: 50%; width: 100%; padding-top: 0px; padding-bottom: 0px; margin-top: -182px; opacity: 1.29272;">
								<div class="row">
									<div class="col-md-offset-8 col-md-4 col-sm-6">
										<div class="panel panel-default" style="border-color:#eee;">
											<div class="panel-body" style="padding: 30px;">
												<div class="heading-block nobottomborder bottommargin-sm">
													<h1 style="font-size:20px;font-weight:400">{{course.title}}</h1>
													<hr />
													<span style="font-size: 15px;" class="t300 capitalize ls1 notopmargin">{{course.dates}}</span>
													<span style="font-size: 15px;" class="t300 capitalize ls1 notopmargin">{{course.schedule}}</span>
												</div>
												<form action="#" class="clearfix hidden-xs">
													<div class="col_full">
														<label class="capitalize t600">Full Name</label>
														<input type="text" onChange="updateVisitor(event)" id="template-op-form-email" name="name" class="form-control not-dark">
													</div>
													<div class="col_full">
														<label class="capitalize t600">Email</label>
														<input type="email" onChange="updateVisitor(event)" id="template-op-form-email" name="email" class="form-control not-dark">
													</div>
													<div class="col_full nobottommargin">
														<a href="#" id="{{course.title}}" onClick="requestSyllabus(event)" class="t400 capitalize button button-border button-circle nomargin">Request Syllabus</a>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="content" style="background:#f9f9f9">

				<div id="section-overview" class="page-section notoppadding topmargin-lg nobottompadding">
					<div class="section nobottommargin notopmargin notoppadding">
						<div class="container clearfix">
							<h2 class="divcenter nobottommargin font-body velocity-header">Overview</h2>
							<div style="text-align:center;padding:16px;">
								<img style="border-radius:80px" src="https://media-service.appspot.com/site/images/{{course.image}}?crop=160" />
							</div>

							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="content-description">{{{course.description}}}</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div id="section-units" class="page-section notoppadding nobottompadding">
					<div class="section nobottommargin notopmargin notoppadding">
						<div class="container clearfix">
							<h2 class="divcenter nobottommargin font-body velocity-header">Units</h2>

							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="detail-box">

										{{#course.units}}
										<div class="bottommargin-sm">
											<h3 style="font-weight:200;color:#0073e6" class="nobottommargin">{{topic}}</h3>
											<p class="nobottommargin">
												{{description}}
											</p>
										</div>
										{{/course.units}}

									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

				<div id="section-instructors" class="page-section notoppadding nobottompadding">
					<div class="section nobottommargin notopmargin notoppadding">
						<div class="container clearfix">
							<h2 class="divcenter nobottommargin font-body velocity-header">Instructors</h2>

							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="detail-box">

										<div>
											<img style="border-radius:50px;float:right;width:100px;margin-left:16px" src="/images/dan-kwon.png" />

											<h3 style="font-weight:200;color:#0073e6" class="nobottommargin">Dan Kwon</h3>
											<hr />
											<p class="nobottommargin">
												Dan is a full stack developer focusing on MVPs for early stage startups in New York. For over 5 years, he consulted for several startups and development agencies. Dan specializes in React, Redux, Node, iOS, and backend technologies such as AWS, Google Compute Engine, Heroku, and Nginx. Dan graduated from Cornell University where he walked to class in the snow, uphill both ways.
												<br />
												<a target="_blank" href="https://github.com/velocity-360" class="social-icon si-small si-borderless si-github">
													<i class="icon-github"></i>
													<i class="icon-github"></i>
												</a>

												<a target="_blank" href="https://www.linkedin.com/in/dan-kwon-104277105/" class="social-icon si-small si-borderless si-linkedin">
													<i class="icon-linkedin"></i>
													<i class="icon-linkedin"></i>
												</a>
												<br />
											</p>
										</div>

										<br /><br />

										<div>
											<img style="border-radius:50px;float:right;width:100px;margin-left:16px" src="/images/beaman.jpg" />

											<h3 style="font-weight:200;color:#0073e6" class="nobottommargin">Roger Beaman</h3>
											<hr />
											<p class="nobottommargin">
												Roger is a passionate Fullstack JavaScript developer that took an unusual route to software development. He started in finance and found Excel formulas to be the most exciting part of his job. Thus, he began a journey to joining you in the exciting career that is software development. In under a year he was able to go from a bootcamp to a lead developer at Shutterstock and he is excited about sharing the knowledge and advice he has to help you do the same.
												<br />
												<a target="_blank" href="https://github.com/sirrodgepodge" class="social-icon si-small si-borderless si-github">
													<i class="icon-github"></i>
													<i class="icon-github"></i>
												</a>

												<a target="_blank" href="https://www.linkedin.com/in/rogerbeaman/" class="social-icon si-small si-borderless si-linkedin">
													<i class="icon-linkedin"></i>
													<i class="icon-linkedin"></i>
												</a>
												<br />
											</p>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

				<div id="section-enroll" class="page-section notoppadding">
					<div class="section nobottommargin notopmargin notoppadding">
						<div class="container clearfix">
							<h2 class="divcenter nobottommargin font-body velocity-header">Enroll</h2>

							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="detail-box">

										<div class="row">
											<div class="col-md-6">
												<h3 style="font-weight:200;color:#0073e6;margin-bottom:4px">Deposit</h3>
												<span style="font-size:16px;font-weight:400">${{course.deposit}}</span>
												<p style="margin-top:12px;height:96px">
													Submit a deposit today to secure a spot. If the class does not run for any reason, your deposit will be fully refunded. The remainder of the tuition is due on the first day.
												</p>
												<button onClick="openPaypalWindow('{{course.discountPaypalLink}}')" class="button button-lg button-blue">Submit Deposit</button>
											</div>
											<div class="col-md-6">
												<h3 style="font-weight:200;color:#0073e6;margin-bottom:4px">Full Tuition</h3>
												<span style="font-size:16px;font-weight:400">${{course.tuition}}</span>
												<p style="margin-top:12px;height:96px">
													Submit full tuition today and receive a $200 discount. If the course does not run for any reason, your tuition will be fully refunded.
												</p>
												<button onClick="openPaypalWindow('{{course.paypalLink}}')" class="button button-lg button-blue">Submit Tuition</button>
											</div>
										</div>

										<hr />
										<img style="padding:3px;border:1px solid #ddd;width:50%" src="/images/wework.jpg" />
										<p style="margin-top:16px;margin-bottom:0px">
											All courses, demonstrations, and workshops take place at our centrally located WeWork space:
										</p>
										<h3 class="notopmargin nobottommargin" style="font-weight:200">
											<a style="color:red" target="_blank" href="https://www.google.com/maps/place/1460+Broadway,+New+York,+NY+10036">1460 Broadway</a>
										</h3>
										<h3 style="font-weight:200">NYC 10036</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{{>join-gray}}
			</section>

			{{>footer}}
		</div>
	</div>

	<script>window.__CURRENT_ENTITY__ = {{{currentEntity}}}</script>
	{{>imports}}
</body>

</html>
