<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body class="stretched side-header">
	<div id="root">{{{react}}}</div>

  <script>window.__PRELOADED_STATE__ = {{{initial}}} </script>
	<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
	<script type="text/javascript" src="/dist/app/commons.js"></script>
	<script type="text/javascript" src="/dist/app/{{bundle}}.js"></script>
  <script type="text/javascript">
      SocialShareKit.init()
  </script>
</body>
</html>