<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body onLoad="fetchRecentPosts()">
	<header id="header" class="full-header border-full-header static-sticky sticky-header" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">
		<div id="header-wrap">
			<div class="container clearfix" style="padding-right:0px;width:100%">
				<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
				<div id="logo" style="margin-left:15px">
					<a href="/" class="standard-logo" data-dark-logo="/images/canvasone-dark.png"><img src="/images/canvasone.png" alt="Turbo 360"></a>
					<a href="/" class="retina-logo" data-dark-logo="/images/canvasone-dark@2x.png"><img src="/images/canvasone@2x.png" alt="Turbo 360"></a>
				</div>

				<nav id="primary-menu">
					<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
						<li><a href="/"><div>Home</div></a></li>
						<li><a href="/tutorials"><div>Tutorials</div></a></li>
						<li><a href="/#section-courses"><div>Courses</div></a></li>
						<li><a href="/blog"><div>Blog</div></a></li>
						{{#user}}
						<li><a href="/account" style="background:#260354"><div style="color:#fff">Account</div></a></li>
						{{/user}}
						{{^user}}
						<li><a href="/login" style="background:#260354"><div style="color:#fff">Log In</div></a></li>
						{{/user}}
					</ul>					
				</nav>
			</div>
		</div>
	</header>

	<div class="stretched side-header side-header-right" style="background:#f9f9f9">
		<div id="wrapper" class="clearfix">
			<header id="header" class="no-sticky hidden-xs right-sidebar" style="background:rgba(0,0,0,0);border:none">
				<div id="header-wrap" style="background:rgba(0,0,0,0);">
					<div class="container clearfix" style="padding-left:0px !important">
						{{>slack}}
					</div>
				</div>
			</header>

			<section id="content" style="background:#f9f9f9">

				<div id="section-units" class="page-section notoppadding nobottompadding">
					<div class="section nobottommargin notoppadding">
						<div class="container clearfix">

							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<div class="post-box" style="padding:36px !important">
										<h1 class="divcenter nobottommargin font-body velocity-header">{{post.title}}</h1>
										<div style="text-align:center;padding:16px;">
											<img src="{{post.image}}=s420" />
										</div>
										<hr />

										{{{post.text}}}
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div id="section-instructors" class="page-section notoppadding nobottompadding">
					<div class="section nobottommargin notopmargin notoppadding">
						<div class="container clearfix">
							<h2 class="divcenter nobottommargin font-body velocity-header">Featured Tutorials</h2>

							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<div class="detail-box">

										<div>
											<img style="border-radius:70px;float:right;margin-left:16px" src="https://media-service.appspot.com/site/images/Jo4TJTkw?crop=140" />

											<a href="https://www.velocity360.io/tutorial/react-&amp;-google-maps">
												<h3 style="font-weight:200;color:#0073e6" class="nobottommargin">React &amp; Google Maps</h3>
											</a>
											<hr />
											<p class="nobottommargin">
												In this tutorial, we will create a simple React application with a Google Maps UI. The application will show a list of venues on the map that refreshes each time the user moves the map to a new location.
												<br />
												<a style="margin-left:0px;margin-top:6px" class="button button-round" href="https://www.velocity360.io/tutorial/react-&amp;-google-maps">READ MORE</a>
												<br />
											</p>
										</div>

										<br /><br />

										<div>
											<img style="border-radius:70px;float:right;margin-left:16px" src="https://media-service.appspot.com/site/images/hfYJXMjQ?crop=140" />

											<a href="/tutorial/react-redux-&amp;-foursquare">
												<h3 style="font-weight:200;color:#0073e6" class="nobottommargin">React, Redux, and Foursquare</h3>
											</a>

											<hr />
											<p class="nobottommargin">
												In this series, we create a simple app that queries the Foursquare API for nearby venues based on a zip code and category entered by the user. This project has no server (Node JS) integration and is therefore a good starting point to learn React/Redux only. This is a simple project that shows how to integrate Redux and process data from API requests.
												<br />
												<a style="margin-left:0px;margin-top:6px" class="button button-round" href="/tutorial/react-redux-&amp;-foursquare">READ MORE</a>
												<br />
											</p>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

			</section>
		</div>
		{{>footer}}
	</div>

	{{>imports}}
</body>

</html>
