<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body>
	<header id="header" class="full-header border-full-header static-sticky sticky-header" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">
		<div id="header-wrap">
			<div class="container clearfix" style="padding-right:0px;width:100%">
				<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
				<div id="logo" style="margin-left:15px">
					<a href="/" class="standard-logo" data-dark-logo="/images/canvasone-dark.png"><img src="/images/canvasone.png" alt="Turbo 360"></a>
					<a href="/" class="retina-logo" data-dark-logo="/images/canvasone-dark@2x.png"><img src="/images/canvasone@2x.png" alt="Turbo 360"></a>
				</div>

				<nav id="primary-menu">
					<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
						<li><a href="/"><div>Home</div></a></li>
						<li><a href="/tutorials"><div>Tutorials</div></a></li>
						<li><a href="/blog"><div>Blog</div></a></li>
						<li><a href="/login" style="background:#260354"><div style="color:#fff">Log In</div></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="stretched side-header">
		<div id="wrapper" class="clearfix">
			<header id="header" class="no-sticky" style="padding-top:96px">
				<div id="header-wrap">
					<div class="container clearfix">
						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
						<nav id="primary-menu">
							<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="0">
								<li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
								<li><a href="#" data-href="#section-about"><div>About</div></a></li>
								<li><a href="#" data-href="#section-works"><div>Works</div></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>

			<section id="content" style="background:#f9f9f9">
				<div class="content-wrap nopadding">

				</div>

				{{>join-gray}}
			</section>

			{{>footer}}
		</div>
	</div>

	<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
</body>

</html>
