<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body class="stretched">
	{{>nav}}

	<div id="wrapper" class="clearfix">

		<div class="section notopmargin nobottommargin">
			<div class="container clearfix">

				<div class="col_half nobottommargin topmargin-lg">
					<img src="/theme/images/appshowcase/iphone-solid.png" alt="Image" class="center-block">
				</div>

				<div class="col_half nobottommargin topmargin-lg col_last">

					<div class="heading-block topmargin-lg">
						<h1 style="font-family:Pathway Gothic One">Introducing Turbo</h1>
						<span>Jumpstart Your Applications With Turbo</span>
					</div>

					<p style="font-size:16px">
						Turbo is the fastest way to build scalable applications without setting up a custom backend, database, server configuration or clusters. We handle the data persistence while you focus on building your product. We also handle scalability, uptime, static asset delivery, and much more. All you have to do is build exciting products.
					</p>

					<a href="#" class="button button-border button-rounded button-large button-dark noleftmargin">View Gallery</a>

				</div>

			</div>
		</div>

		<section id="content">
			<div class="content-wrap">

				<div class="container clearfix">
					<div class="heading-block center">
						<h1 style="font-family:Pathway Gothic One">Benefits</h1>
					</div>

					<div class="col_one_third">
						<div style="height:320px" class="feature-box fbox-center fbox-bg fbox-outline fbox-effect">
							<div class="fbox-icon">
								<a href="#">
									<img src="https://lh3.googleusercontent.com/OLp0U1Ef7zFisG36Dyb4TtUWVnHdTNSiyoYK37r4OMCNzSggWGzevt9t9GN3y57wrerNNDlRfXByZ-2VrwVDde-vVQ=s120-c" alt="Standard Post with Image">
								</a>
							</div>
							<h3>Serverless</h3>
							<hr />
							<p class="subtitle">
								With our simple NPM package, users can quickly integrate Turbo features and services to their applications in just a few minutes. No need to set up with AWS, Heroku, Digital Ocean etc. Of course, using Turbo in conjunction with your server works fine too.
							</p>
						</div>
					</div>

					<div class="col_one_third">
						<div style="height:320px" class="feature-box fbox-center fbox-bg fbox-outline fbox-effect">
							<div class="fbox-icon">
								<a href="#">
									<img src="https://lh3.googleusercontent.com/OLp0U1Ef7zFisG36Dyb4TtUWVnHdTNSiyoYK37r4OMCNzSggWGzevt9t9GN3y57wrerNNDlRfXByZ-2VrwVDde-vVQ=s120-c" alt="Standard Post with Image">
								</a>
							</div>
							<h3>Customizable</h3>
							<hr />
							<p class="subtitle">
								Every app is different which is why Turbo enables custom objects to be stored within each project. There is no need to pre-define the object properties or register them in a dashboard. Simply start posting to the Turbo API and your objects will be there!
							</p>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div style="height:320px" class="feature-box fbox-center fbox-bg fbox-outline fbox-dark fbox-effect">
							<div class="fbox-icon">
								<a href="#">
									<img src="https://lh3.googleusercontent.com/OLp0U1Ef7zFisG36Dyb4TtUWVnHdTNSiyoYK37r4OMCNzSggWGzevt9t9GN3y57wrerNNDlRfXByZ-2VrwVDde-vVQ=s120-c" alt="Standard Post with Image">
								</a>
							</div>
							<h3>Fully Featured</h3>
							<hr />
							<p class="subtitle">
								Turbo is more than just a backend replacement. Need to send emails? Check. Looking for 
								real-time chat? Check. Payment processing? Check. Turbo is a fully-stocked solution for modern day web apps.
							</p>
						</div>
					</div>					
				</div>

			</div>
		</section>

		<section id="content" style="background:#f9f9f9">
			<div class="content-wrap">

				<div class="container clearfix">
					<div class="heading-block center">
						<h1 style="font-family:Pathway Gothic One">Get Started</h1>
					</div>

					<div class="row clear-bottommargin">
						<div class="col-md-6 col-md-offset-3 col-sm-6 bottommargin">
							<div class="promo promo-border promo-mini" style="background:#fff">
								<h3>Premium Members</h3>
								$19.99 / month
								<hr />
								<p>
									Turbo is included as part of your access to Velocity360 premium membership. 
									Join as a premium member for $19.99 each month and receive unlimited access to all tutorials, code samples, and forums on the site.
								</p>
								<ul style="padding-left:16px;margin-bottom:0px">
		                            <li>Downloadable Code Samples</li>
		                            <li>Downloadable Videos</li>
		                            <li>Q &amp; A Forum Access</li>
		                            <li>Discounts on Live Courses</li>
		                        </ul>								
								<a href="#" class="button button-border button-circle button-dark">Join</a>
							</div>
						</div>


					</div>
				</div>

			</div>
		</section>

		{{>footer}}
	</div>

	<script type="text/javascript" src="/dist/js/vendor.min.js"></script>

</body>
</html>